header{
    border-bottom: 1px solid darkolivegreen;
    display: flex;
    justify-content: center;
    height: 80px;
}
ul{
    display: flex;

}
ul li{
    display: inline;
    margin-right: 15px;
}
footer{
    border-top: 1px solid darkolivegreen;
    display: flex;
    justify-content: center;
    position: fixed;
     bottom: 0; 
    width: 100%;

}
body{
    color:darkslategray;
}
/* ____________formulaire____________ */
.bloc{
    border:1px solid greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 650px; */
}
.formulaire{
    
    width: 500px ;
    height: 350px;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    color: #1C3950;
}
label {
    display: inline-block;
    width: 200px;
    text-align: right;
    justify-content: flex-start;
   
  }
input, textarea {
    font: 1.05em sans-serif; 
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 5px;
    margin: 5px;
  }  

button{
 width: 150px;
 height: 40px;
 border-color:#808080;
 color:#1C3950;
 font-family: 'Roboto Condensed', sans-serif;
 border-radius: 5px;
 letter-spacing: 3px;
}